@model RecruitFlow.Models.Cv

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa thông tin</h1>

<h3>Bạn có chắc xóa thông tin chưa?</h3>
<div>
    <h4>Cv</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UngVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDayDu)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Cvid" />
        <input type="submit" value="Xóa thông tin" class="btn btn-danger" /> |
        <a asp-action="Index">Quay về</a>
    </form>
</div>
