@model IEnumerable<RecruitFlow.Models.Cv>

@{
    ViewData["Title"] = "Index";
}

<h1>Thông tin CV</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UngVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDayDu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cvid">Cập nhật</a> |
                <a asp-action="Details" asp-route-id="@item.Cvid">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Cvid">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
