@model RecruitFlow.Models.TinTuyenDung

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TinTuyenDung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoPhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoPhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiCongViec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiCongViec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuongTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuongTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuongDen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuongDen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapDoKinhNghiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapDoKinhNghiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YeuCau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YeuCau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhucLoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhucLoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HanChot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HanChot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaCongKhai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaCongKhai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianCongKhai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianCongKhai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianTao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TinTuyenDungId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
