@model RecruitFlow.Models.ThongBao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ThongBao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiSuKien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiSuKien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDinhDanhLienQuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDinhDanhLienQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungThongBao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungThongBao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianGui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianGui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDung.Email)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ThongBaoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
