@model RecruitFlow.Models.DonUngTuyen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonUngTuyen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvurl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvurl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuXinViec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuXinViec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianNop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianNop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinTuyenDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinTuyenDung.TieuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UngVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UngVien.UngVienId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonUngTuyenId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
