@model RecruitFlow.Models.LichPhongVan

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LichPhongVan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianPhongVan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianPhongVan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhThucPhongVan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhThucPhongVan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemPhongVan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemPhongVan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiPhongVan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiPhongVan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonUngTuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonUngTuyen.DonUngTuyenId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LichPhongVanId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
