@model RecruitFlow.Models.GhiChuAdmin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GhiChuAdmin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiTao.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinTuyenDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinTuyenDung.TieuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UngVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UngVien.UngVienId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GhiChuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
