@model IEnumerable<RecruitFlow.Models.GhiChuAdmin>

@{
    ViewData["Title"] = "Index";
}

<h1>Thông tin ghi chú</h1>

<p>
    <a asp-action="Create">Thêm ghi chú</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinTuyenDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UngVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiTao.TenDayDu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinTuyenDung.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UngVien.NguoiDung.TenDayDu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GhiChuId">Cập nhật</a> |
                <a asp-action="Details" asp-route-id="@item.GhiChuId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.GhiChuId">xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
