@model IEnumerable<RecruitFlow.Models.NguoiDung>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhauHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDayDu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaiTro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianTao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhauHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDayDu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaiTro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NguoiDungId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NguoiDungId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NguoiDungId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
